<html>
    <head>
        <title>Feng Shui</title>
    </head>
    <body>
        <link rel=StyleSheet href="/css/character.css" type="text/css" media=screen>
        <div class="characters">
        </div>
        <div class="dice">
            <div class="container">
                Dice:<br/>
                <!--<span class="rollable" id="d4">d4</span><br/>-->
                <span class="rollable" id="d6">d6</span><br/>
                <!--
                <span class="rollable" id="d8">d8</span><br/>
                <span class="rollable" id="d10">d10</span><br/>
                <span class="rollable" id="d12">d12</span><br/>
                <span class="rollable" id="d20">d20</span><br/>
                <span class="rollable" id="d100">d100</span><br/>
                                                                -->
                <div class="rolling">
                <b> </b>
                </div>
            </div>
        </div>
 
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/expand.js"></script>
        <script type="text/javascript" src="/js/schiticks.js"></script>
        <script type="text/javascript" src="/js/info.js"></script>
        <script type="text/javascript" src="/js/gear.js"></script>
        <script type="text/javascript" src="/js/attacks.js"></script>
        <script type="text/javascript" src="/js/skills.js"></script>
        <script type="text/javascript" src="/js/character.js"></script>
        <script type="text/javascript" src="/js/dice.js"></script>
    </body>
</html>
